* {
    margin: 0;
    padding: 0;
}

body {

    background: #242424;
    background: linear-gradient(90deg, rgba(36, 36, 36, 1) 0%, rgba(26, 48, 48, 1) 50%, rgba(56, 83, 97, 1) 100%);
}

.nav-bar{
    height: 60px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items a {
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 0.9rem;
    transition: 0.3s linear;
}

.nav-items a:hover {
    background: rgba( 155, 155, 155, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 30px;
}